@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body {
    font-family: 'montserrat', sans-serif;
}

.wrapper {
    /* primer bloque */
    background-size: cover;
    color: black;
    height: 60em;
    background-color: #F9E79F;
}


.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

/* Nombre y APELLIDO tamaño y sombra */
.main h1 {
    margin-top: 5%;
    font-size: 2.5em;
    font-weight: 600;
    color: rgb(48, 47, 47);
}

/* primer parrafo */
.main p {
    margin: 2% 10%;
    font-size: 1.2em;
    color: #F9E79F;
    font-weight: 600;
    background-color: rgb(48, 47, 47);
    border-radius: 20px;
    padding: 2%;
    border: inset 3px #F9E79F;

}

/* primer parrafo hover */
.main p:hover {
    transform: scale(1.02);
    font-size: 1.2em;
    background-color: #F9E79F;
    border-radius: 20px;
    border: inset 3px black;
    transition: ease-in .3s;
    color: black;
    padding: 2%;
}

/* foto en blanco y negro */
.main img { 
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 40px;
    width: 88%;
    height: 88%;
}

/* foto en blanco y negro HOVER */
.main img:hover {
    border: 2px solid black;
    width: 88%;
    height: 88%;
    border-radius: 80px;
    transition: ease-out .5s;
    transform: scale(1.05);
}

/* colores de el nombre MAXIMO */



/* BOTON GENERICO */
.download-cv {
    font-weight: 400;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-top: 6px;
    cursor: pointer;
    border: solid 2px white;
}


.download-cv:hover {
    background-color: #F9E79F;
    color: black;
    box-shadow: none;
    transition: ease-in .2s;
    transform: scale(1.1);
    border: solid 2px rgb(48, 47, 47);
}

.about .download-cv {
    margin: 2% 1%;
    border: solid 3px #F9E79F;
}

.about .download-cv:hover {
    background-color: #F9E79F;
    color: black;
    border: solid 3px white;
    margin: 2% 1%;
}

.about {
    background-color: white;
    padding: 10% 0%;
}

.about img {
    height: 100%;
    width: 100%;
    border: solid 2px #F9E79F;
    border-radius: 20px;
}
.about img:hover {
    height: 100%;
    width: 100%;
    border: solid 2px #F9E79F;
    border-radius: 20px;
    transition: ease-in-out .2s;
    transform: scale(1.01);
}

.about-info {
    padding: 12% 10%;
    font-size: 20px;
}

.about-info h2 {
    margin: 0% 5%;
    font-size: 2em;
    color: #F9E79F;
    text-shadow: 5px 5px 1px gray;
}

.about p {
    margin: 2% 5%;
    font-weight: 400;
    background-color: rgb(48, 47, 47);
    border-radius: 20px;
    padding: 1%;
    border: solid 4px #F9E79F;
    color: #F9E79F;
}

.about p:hover {
    margin: 2% 5%;
    font-weight: 400;
    background-color: #F9E79F;
    border-radius: 30px;
    padding: 1%;
    border: inset 4px black;
    color: rgb(48, 47, 47);
    transition: ease-in .2s;
}


.skills {
    background-color: rgb(48, 47, 47);
    padding-top: 130px;
    padding-bottom: 130px;
    height: 100%;
    width: 100%;
}

.skills .smartphone {
    font-size: 3em;
    color: white;
    background-color: #c7b87a;
    border-radius: 10px;
    border: solid 4px white;
    margin: 5% 0%;
    padding: 7px 0px;
}

.skills .pc {
    font-size: 3em;
    color: white;
    background-color: #c7b87a;
    border-radius: 10px;
    border: solid 4px white;
    margin: 1% 35%;
    padding-bottom: 3px;
}

.skills img {
    background-color: white;
    border-radius: 10px;
    height: 50%;
    border: solid 3px #c7b87a;
    padding: 10px;
    color: white;
    max-width: 200px;
    max-height: 200px;
    margin-top: 10%;
}

.skills img:hover {
    background-color: white;
    border-radius: 30px;
    height: 50%;
    border: solid 3px white;
    padding: 10px;
    color: white;
    max-width: 200px;
    max-height: 200px;
    transition: ease-in .2s;
    transform: scale(1.24);
}


.skills .bloque-programa {}

.skills p {
    font-weight: 400;
    font-size: 1.1em;
    padding: 0.2% 0%;
    color: white;
    background-color: #c7b87a;
    border-radius: 20px;
    border: solid 2px #F9E79F;
    margin: 0px 20%;
}

#mercado-pago p {
    font-size: 87%;
    padding: 5px 0px;
}

.skills i {
    color: #F9E79F;
    ;
}